<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/a6162ab720.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class="container-fluid">
       <div class="header row">
         <div class="col-12">
    <% if user_signed_in? %>
    　<div class="logo">
      <%= link_to 'Bookers', root_path %>
      </div>
      <div class="col-6 offset-6">
        <div class="row">
            <div class="header-content">
              <i class="fa-solid fa-home" style="color: #ffffff;"></i>
              <%= link_to 'Home', user_path(current_user.id) %></div>
      
              <div class="header-content">
                <i class="fa-solid fa-users" style="color: #ffffff;"></i>
                <%= link_to 'Users', users_path %></div>
            
              <div class="header-content">
                <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>
                <%= link_to 'Books', books_path %></div>
                
              <div class="header-content">
                <i class="fa-solid fa-sign-out-alt" style="color: #ffffff;"></i>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
          </div>
        </div>
      </div>
    <% else %>
    　<div class="logo">
      <%= link_to 'Bookers', root_path %>
      </div>
      
      <div class="col-6 offset-6">
        <div class="row">
            <div class="header-content">
              <i class="fa-solid fa-home" style="color: #ffffff;"></i>
                <%= link_to 'Home', root_path %></div>
                
            <div class="header-content">
             <i class="fa-solid fa-link" style="color: #ffffff;"></i>
                 <%= link_to 'About', home_about_path %></div>
                 
            <div class="header-content">
              <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
                <%= link_to "Sign up", new_user_registration_path %></div>
                
            <div class="header-content">
              <i class="fa-solid fa-sign-in-alt" style="color: #ffffff;"></i>
                <%= link_to "Log in", new_user_session_path %></div>
    <% end %>
      </div>
    </div>
  </header>
  
   <main>
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
      <%= yield %>
  </main>
  
  <footer>
  </footer>
  
  </body>
</html>
